*{
    padding:auto;
    margin:auto;
    background-image:url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/6SE7AEYGBRGTFGKMTSZ3HEL4HU.png);
    color:white;
    font-style: italic;
}