*{
    padding:10;
    margin:0;
}
body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/062/629/non_2x/abstract-background-with-technology-circuit-board-texture-electronic-motherboard-illustration-communication-and-engineering-concept-illustration-vector.jpg);
    background-size: cover;
}